UserTracking/foot_test3.mp4
UserTracking/origin_img.jpg
UserTracking/pose/coco/pose_iter_440000.caffemodel

.vscode/ipch/6afcc23c2b816f25/mmap_address.bin
.vscode/ipch/6afcc23c2b816f25/STUDENTOBJECTS.ipch
.vscode/ipch/aef652104ef86e96/mmap_address.bin
.vscode/ipch/aef652104ef86e96/WAR4.ipch
.vscode/settings.json
*.pyc
