UserTracking/foot_test3.mp4
UserTracking/origin_img.jpg
UserTracking/pose/coco/pose_iter_440000.caffemodel

.vscode/ipch/6afcc23c2b816f25/mmap_address.bin
.vscode/ipch/6afcc23c2b816f25/STUDENTOBJECTS.ipch
.vscode/ipch/aef652104ef86e96/mmap_address.bin
.vscode/ipch/aef652104ef86e96/WAR4.ipch
.vscode/settings.json
*.pyc
UserTracking/deprecated_file/avoid.log
UserTracking/deprecated_file/camera.jpg
UserTracking/deprecated_file/client.py.save
UserTracking/deprecated_file/connect_test
UserTracking/deprecated_file/cvtest.py
UserTracking/deprecated_file/send.jpg
UserTracking/deprecated_file/server.log
UserTracking/deprecated_file/server_thread.log
UserTracking/deprecated_file/test.jpg
UserTracking/deprecated_file/tracking-output.avi
UserTracking/deprecated_file/webCam.py
*.bin
*.ipch
UserTracking/sendingTest.py
